In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [5]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

 > director , cast , country , date_added a lot of data is missing

In [6]:
df_demo = df.copy()

In [12]:
move_data = df_demo.loc[df_demo.type == 'Movie'].copy()

## taking a small data from whole dataset and making a copy to perform changes, without copy() it is not allowed.

In [13]:
move_data['type'] = 'Only Movies'

> Problem 1 : Dealing with the Comma seperated values in 'Cast' column.

In [15]:
constraint1 = df['director'].apply(lambda x: str(x).split(', ')).tolist()

## .apply is applying this split() function on all the values of the whole row.

* create DF from dict/list

* stack → flatten

* reset index

* rename column

* drop a useless column

In [17]:
df_new1 = pd.DataFrame(constraint1,index=df['title'])
df_new1=df_new1.stack()
df_new1 = pd.DataFrame(df_new1.reset_index())
df_new1.head(10)

                              title  level_1                0
0              Dick Johnson Is Dead        0  Kirsten Johnson
1                     Blood & Water        0              nan
2                         Ganglands        0  Julien Leclercq
3             Jailbirds New Orleans        0              nan
4                      Kota Factory        0              nan
5                     Midnight Mass        0    Mike Flanagan
6  My Little Pony: A New Generation        0    Robert Cullen
7  My Little Pony: A New Generation        1   José Luis Ucha
8                           Sankofa        0     Haile Gerima
9     The Great British Baking Show        0  Andy Devonshire

In [23]:
df_new2 = pd.DataFrame(constraint1, index=df['title'])
df_new2 = df_new2.stack()
df_new2 = pd.DataFrame(df_new2.reset_index())
# Use the return value of rename() or call rename() with inplace=True but don't assign the return
df_new2 = df_new2.rename(columns={0: 'Actors'})
df_new2.drop(['level_1'], axis=1, inplace=True)
df_new2.head(25)

                                                title                  Actors
0                                Dick Johnson Is Dead         Kirsten Johnson
1                                       Blood & Water                     nan
2                                           Ganglands         Julien Leclercq
3                               Jailbirds New Orleans                     nan
4                                        Kota Factory                     nan
5                                       Midnight Mass           Mike Flanagan
6                    My Little Pony: A New Generation           Robert Cullen
7                    My Little Pony: A New Generation          José Luis Ucha
8                                             Sankofa            Haile Gerima
9                       The Great British Baking Show         Andy Devonshire
10                                       The Starling          Theodore Melfi
11                Vendetta: Truth, Lies and The Mafia                     nan
12                                   Bangkok Breaking       Kongkiat Komesiri
13                                       Je Suis Karl     Christian Schwochow
14                   Confessions of an Invisible Girl           Bruno Garotti
15                    Crime Stories: India Detectives                     nan
16                                  Dear White People                     nan
17  Europe's Most Dangerous Man: Otto Skorzeny in ...  Pedro de Echave García
18  Europe's Most Dangerous Man: Otto Skorzeny in ...   Pablo Azorín Williams
19                                    Falsa identidad                     nan
20                                          Intrusion              Adam Salky
21                                             Jaguar                     nan
22    Monsters Inside: The 24 Faces of Billy Milligan         Olivier Megaton
23                             Resurrection: Ertugrul                     nan
24                                    Avvai Shanmughi          K.S. Ravikumar

In [24]:
df_new2.shape

(9612, 2)

In [30]:
## alternate and cleaner way to do the same thing:
df_exploded = pd.DataFrame({
    "title": df["title"],
    "Actors": constraint1
}).explode("Actors")
df_exploded.head(5)

                   title           Actors
0   Dick Johnson Is Dead  Kirsten Johnson
1          Blood & Water              nan
2              Ganglands  Julien Leclercq
3  Jailbirds New Orleans              nan
4           Kota Factory              nan